<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title|default('NaviStudio') }}</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/nsfront/css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/nsfront/css/flexslider.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/nsfront/css/jplayer.css') }}" />

    <script type="text/javascript" src="{{ asset('bundles/nsfront/js/jquery-1.8.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/nsfront/js/jquery.easing.1.3.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/nsfront/js/jquery.flexslider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/nsfront/js/jquery.jplayer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/nsfront/js/jplayer.playlist.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/nsfront/js/jScrollPane.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/nsfront/js/jquery.mousewheel.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/nsfront/js/custom.js') }}" ></script>
    <!--[if lt IE 9]><script src="{{ asset('bundles/nsfront/js/html5.js') }}"></script><![endif]-->
</head>
<body>
<div class="{% block page_class 'boxTop_1' %}">
    <div class="repeat-x">
        <div class="boxHeader">
            <header>
                {#<div class="lang">#}
                    {#<a href="#" class="active">РУ</a>#}
                    {#<a href="#">EN</a>#}
                {#</div>#}

                {# HEADER AREA #}
                {{ ns_cms_area(blocks, 'header') }}
                <div class="clear"></div>
            </header>
        </div>

        <div class="content">

            {# CONTENT AREA #}
            {{ ns_cms_area(blocks, 'content_fixed') }}

            <section class="boxMain">
                <div class="boxTitle">
                    {# CONTENT HEADER AREA #}
                    {{ ns_cms_area(blocks, 'content_header')|default('<h1>' ~ page.title ~ '</h1>')|raw }}
                </div>
                <div class="blockCont scrollCont">
                    {# CONTENT AREA #}
                    {{ ns_cms_area(blocks, 'content') }}
                </div>
            </section>
        </div>

        <footer>
            {# FOOTER AREA #}
            {{ ns_cms_area(blocks, 'footer') }}
            <div class="clear"></div>
        </footer>
    </div>
</div>
</body>
</html>
